<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="exists" value="DONT_TOUCH" />
    <add key="blockModelPath" value="C:\Users\Nathan\Desktop" />
    <add key="blockstateModelPath" value="C:\Users\Nathan\Desktop" />
    <add key="itemModelPath" value="C:\Users\Nathan\Desktop" />
    <add key="modId" value="halofallout" />
  </appSettings>
</configuration>